body {
  background-color: #fff;
  color: #222;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb50 {
  margin-bottom: 50px;
}

.mb60 {
  margin-bottom: 60px;
}

.mb70 {
  margin-bottom: 70px;
}

.mb80 {
  margin-bottom: 80px;
}

.inner {
  margin: 0 auto;
  padding: 40px 15px 60px;
}
@media screen and (min-width: 768px) {
  .inner {
    padding: 60px 0 80px;
    max-width: 980px;
  }
}

h1,
h2,
h3,
.title,
.big {
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 3.2rem;
}

h3 {
  font-size: 2.4rem;
}

p,
li,
li a,
a,
label {
  font-size: 1.6rem;
}

.big {
  font-weight: 800;
}

.center {
  margin: 0 auto;
}

.tcenter {
  text-align: center;
}

.tleft {
  text-align: left;
}

.flex {
  display: flex;
}

@media screen and (min-width: 768px) {
  .tab-flex {
    display: flex;
  }
}
header {
  width: 100%;
  height: 80px;
  padding: 15px;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(1.5px);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 999;
}
header .flex {
  align-items: center;
}

.logo img {
  height: 50px;
  margin-right: 1.5rem;
}

nav {
  width: calc(100vw - 85px);
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}
nav li a {
  font-size: 1.2rem;
  position: relative;
  display: inline-block;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  nav li a {
    font-size: 2rem;
  }
}
nav li a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #333;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .3s;
}
nav li a:hover::after {
  transform: scale(1, 1);
}
nav .flex {
  justify-content: space-around;
}
nav .current a {
  color: #fff;
  font-weight: 600;
}

.top {
  padding-top: 125px;
  height: 80vh;
  background-color: #fff;
  text-align: center;
}
.top p {
  font-size: 1.4rem;
  line-height: 2.4rem;
}

.description {
  background-color: #F8F6E7;
}
.description .content {
  padding: 60px 0;
}
@media screen and (min-width: 768px) {
  .description .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.description .img {
  max-width: 240px;
  border-radius: 50%;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 25px;
}
.description .desc {
  line-height: 1.8;
}
@media screen and (min-width: 768px) {
  .description .desc {
    width: 50%;
  }
}
.description .desc .name {
  font-weight: 600;
  font-size: 2.4rem;
}
.description .desc .career,
.description .desc .favorite {
  font-size: 1.4rem;
}
.description .desc i::before {
  margin-right: 0.2rem;
  content: "\f004";
  color: #E83418;
}

@media screen and (min-width: 768px) {
  .skill .items {
    margin: 0 auto;
    max-width: 720px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.skill .item {
  margin: 0 auto;
  max-width: 340px;
  width: 100%;
  height: 100px;
  padding: 12px;
  margin-bottom: 20px;
  align-items: center;
  background: #fafafa;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}
.skill .item img {
  width: 70px;
  margin-right: 30px;
}
.skill .item h3 {
  margin-bottom: 8px;
}
.skill .item p {
  line-height: 1.2;
}

.gallery {
  background-color: #F8F6E7;
}
@media screen and (min-width: 768px) {
  .gallery .inner {
    padding: 40px 60px 110px;
  }
}
.gallery .top-desc p {
  line-height: 1.6;
  margin-bottom: 8px;
}
.gallery .postit {
  margin-bottom: 70px;
}
.gallery .postit a {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  position: relative;
  text-align: center;
  width: 200px;
  padding: 12px 20px;
  background: #fafafa;
  line-height: 2;
  font-size: 2rem;
  font-weight: 600;
  font-family: ubuntu;
}
.gallery .postit a::after {
  content: '';
  position: absolute;
  border-style: solid;
  bottom: 0;
  right: 0;
  border-width: 0 0 15px 15px;
  border-color: transparent transparent #E83418 transparent;
}
@media screen and (min-width: 768px) {
  .gallery .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.gallery .item {
  margin-bottom: 20px;
  padding: 30px 16px 20px;
  align-items: center;
  background: #f7f7f7;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  position: relative;
}
.gallery .item::after {
  content: '';
  position: absolute;
  border-style: solid;
  bottom: 0;
  right: 0;
  border-width: 0 0 15px 15px;
  border-color: transparent transparent #023067 transparent;
}
.gallery .item img {
  width: 100%;
  margin-bottom: 10px;
}
.gallery .item h3 {
  text-align: center;
  margin-bottom: 15px;
}
.gallery .item p {
  line-height: 1.4;
}

@media screen and (min-width: 768px) {
  .contact .tab-flex {
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
  }
}
.contact .left {
  font-size: 1.6rem;
  line-height: 1.8;
}
@media screen and (min-width: 768px) {
  .contact .left {
    width: 30%;
  }
}
@media screen and (min-width: 768px) {
  .contact .right {
    width: 45%;
  }
}
.contact .title {
  text-align: left;
}
.contact i::before {
  margin: 0 0.5rem;
}
.contact .fa-name::before {
  content: "\f007";
}
.contact .fa-mail::before {
  content: "\f0e0";
}
.contact .fa-affiliation::before {
  content: "\f1ad";
}
.contact .fa-message::before {
  content: "\f075";
}
.contact .fa-send::before {
  content: "\f1d8";
  margin: 0;
  margin-left: 0.5rem;
}
.contact span:after {
  content: "*";
  margin-left: 0.5rem;
  color: #E83418;
}

form {
  margin: 0 auto;
  width: 100%;
}

input,
textarea {
  margin-bottom: 16px;
  margin-top: 6px;
  font-size: 1em;
  padding: 15px 10px 10px;
  font-family: 'Source Sans Pro', arial, sans-serif;
  border: 1px solid #cecece;
  background: #f7f7f7;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border-radius: 3px;
  border: 1px solid #eaeaea;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

textarea {
  height: 100px;
}

::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
  color: #c3c3c3;
}

button {
  margin-top: 10px;
  margin-bottom: 40px;
  background-color: #E83418;
  padding: 10px 0;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #E83418;
  -webkit-transition: .5s;
  transition: .5s;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  margin-left: 50%;
  width: 50%;
}
@media screen and (min-width: 768px) {
  button {
    margin-left: 60%;
    width: 40%;
    letter-spacing: 0.5rem;
  }
}

button:hover,
.button:hover {
  background: rgba(232, 52, 24, 0.8);
}

.dummy {
  display: none;
}

.myform {
  display: none;
}

.errorText {
  color: #E83418;
}

.contact .thxMessage {
  display: none;
}
.contact .thxMessage p {
  font-size: 1.2rem;
}

footer {
  position: relative;
  background-color: #333;
  color: #fff;
}
footer #topBtn {
  position: fixed;
  bottom: 0;
  right: 10px;
}
footer #topBtn:hover {
  cursor: pointer;
}
footer .lower {
  padding: 10px 0;
}

.bntop {
  padding-top: 150px;
  line-height: 1.4;
  position: relative;
}
.bntop img {
  position: absolute;
  right: 10px;
  bottom: 0;
  width: 150px;
}

.portfolio-site {
  max-width: 220px;
  padding: 10px;
  background-color: #E83418;
  border-radius: 4px;
  margin-bottom: 80px;
}
.portfolio-site p {
  color: #fff;
  font-weight: 600;
}

.tag > div {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 6px;
}
.tag > div::before {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
}

.s300 {
  background: #28a838;
}
.s300::before {
  content: "300x250";
}

.trace {
  background: #fabd00;
  margin-left: 20px;
}
.trace::before {
  content: "Trace";
}

.redesign {
  background: #dc097b;
  margin-left: 20px;
}
.redesign::before {
  content: "redesign";
}

/*# sourceMappingURL=style.css.map */
