@charset 'utf-8';

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

$wh:#fff;
$acs:#E83418;
$bl:#333;
$shadow:0px 1px 2px rgba(0, 0, 0, 0.2);
$border:1px solid #aaa;

body {
  background-color: $wh;
  color: #222;
}

//layout-size
@mixin mq-tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin mq-pc {
  @media screen and (min-width: 1080px) {
    @content;
  }
}

@for $btm from 1 through 8 {
  .mb#{$btm}0 {
    margin-bottom: 10px * $btm;
  }
}

.inner {
  margin: 0 auto;
  padding: 40px 15px 60px;

  @include mq-tablet {
    padding: 60px 0 80px;
  }
}



//font
h1,
h2,
h3,
.title,
.big {
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 3.2rem;
}

h3 {
  font-size: 2.4rem;
}

p,
li,
li a,
a,
label {
  font-size: 1.6rem;
}

.big {
  font-weight: 800;
}

//position

.center {
  margin: 0 auto;
}

.tcenter {
  text-align: center;
}

.tleft {
  text-align: left;
}

.flex {
  display: flex;
}

@include mq-tablet {
  .tab-flex {
    display: flex;
  }
  .tab-none{
    display: none;
  }
}

/* js */
.js-anime {
  opacity: 0;
  visibility: hidden;
  transform: translateY(40px);
  transition: all 1s;

  &.is-show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
  }
}



header {
  width: 100%;
  height: 80px;
  padding: 15px;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(1.5px);
  box-shadow: $shadow;
  position: fixed;
  z-index: 999;

  .flex {
    align-items: center;
  }
}

.logo img {
  height: 50px;
  margin-right: 1.5rem;
}

nav {
  width: calc(100vw - 85px);
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;

  li {
    a {
      font-size: 1.2rem;
      position: relative;
      display: inline-block;
      text-decoration: none;

      @include mq-tablet {
        font-size: 2rem;
      }
    }

    a::after {
      position: absolute;
      bottom: -4px;
      left: 0;
      content: '';
      width: 100%;
      height: 2px;
      background: #333;
      transform: scale(0, 1);
      transform-origin: left top;
      transition: transform .3s;
    }

    a:hover::after {
      transform: scale(1, 1);
    }
  }

  .flex {
    justify-content: space-around;
  }

  .current {
    a {
      color: $wh;
      font-weight: 600;
    }
  }
}

.top {
  padding-top: 125px;
  height: 80vh;
  background-color: $wh;
  text-align: center;

  p {
    font-size: 1.4rem;
    line-height: 2.4rem;
  }

}

//about
.description {
  background-color: #F8F6E7;

  .inner {
    @include mq-tablet {
      max-width: 980px;
    }
  }

  .content {

    @include mq-tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .img {
    max-width: 240px;
    border-radius: 50%;
    box-shadow: $shadow;
    margin-bottom: 25px;
  }

  .desc {
    line-height: 1.8;
    //    text-align: left;

    @include mq-tablet {
      width: 50%;
    }

    .name {
      font-weight: 600;
      font-size: 2.4rem;
    }

    .career,
    .favorite {
      font-size: 1.4rem;
    }

    i::before {
      margin-right: 0.2rem;
      content: "\f004";
      color: $acs;
    }
  }
}

//skill
.skill {
  .items {
    @include mq-tablet {
      margin: 0 auto;
      max-width: 720px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  .item {
    margin: 0 auto;
    max-width: 340px;
    width: 100%;
    height: 100px;
    padding: 12px;
    margin-bottom: 20px;
    align-items: center;
    background: #fafafa;
    box-shadow: $shadow;

    img {
      width: 70px;
      height: 70px;
      margin-right: 30px;
    }

    h3 {
      margin-bottom: 8px;
    }

    p {
      line-height: 1.2;
    }
  }
}


.postit {
  margin-bottom: 70px;

  a {
    box-shadow: $shadow;
    position: relative;
    text-align: center;
    width: 200px;
    padding: 12px 20px;
    background: #fafafa;
    line-height: 2;
    font-size: 2rem;
    font-weight: 600;
    font-family: ubuntu;
    transition: 0.5s;

    &::after {
      content: '';
      position: absolute;
      border-style: solid;
      bottom: 0;
      right: 0;
      border-width: 0 0 15px 15px;
      border-color: transparent transparent $acs transparent;
    }

    &:hover {
      opacity: 0.8;
      transition: 0.5s;
    }
  }
}

//gallery
.gallery {
  background-color: #F8F6E7;

  .inner {
    @include mq-tablet {
      padding: 40px 60px 110px;
    }
  }

  .top-desc p {
    line-height: 1.6;
    margin-bottom: 8px;
  }

  .items {
    @include mq-tablet {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .txt{
      margin-top: 8px;
    }
  }

  .item {
    margin-bottom: 20px;
    padding: 30px 16px 20px;
    align-items: center;
    background: #f7f7f7;
    box-shadow: $shadow;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      border-style: solid;
      bottom: 0;
      right: 0;
      border-width: 0 0 15px 15px;
      border-color: transparent transparent #023067 transparent;
    }

    img {
      width: 100%;
      margin-bottom: 12px;
    }

    h3 {
      text-align: center;
      margin-bottom: 15px;
    }

    p {
      line-height: 1.4;
    }
  }
}

//contact
.contact {
  @include mq-tablet {
    .tab-flex {
      justify-content: space-around;
      align-items: center;
      flex-direction: row-reverse;
    }
  }

  .left {
    font-size: 1.6rem;
    line-height: 1.8;

    @include mq-tablet {
      width: 30%;
    }
  }

  .right {
    @include mq-tablet {
      width: 45%;
    }
  }

  .title {
    text-align: left;
  }

  i::before {
    margin: 0 0.5rem;
  }

  .fa-name::before {
    content: "\f007";
  }

  .fa-mail::before {
    content: "\f0e0";
  }

  .fa-affiliation::before {
    content: "\f1ad";
  }

  .fa-message::before {
    content: "\f075";
  }

  .fa-send::before {
    content: "\f1d8";
    margin: 0;
    margin-left: 0.5rem;
  }

  span:after {
    content: "*";
    margin-left: 0.5rem;
    color: $acs;
  }
}

form {
  margin: 0 auto;
  width: 100%;
}

input,
textarea {
  margin-bottom: 16px;
  margin-top: 6px;
  font-size: 1em;
  padding: 15px 10px 10px;
  font-family: 'Source Sans Pro', arial, sans-serif;
  border: 1px solid #cecece;
  background: #f7f7f7;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border-radius: 3px;
  border: 1px solid #eaeaea;
  box-shadow: $shadow;
}

textarea {
  height: 100px;
}

::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
  color: #c3c3c3;
}


button {
  margin-top: 10px;
  margin-bottom: 60px;
  background-color: $acs;
  padding: 10px 0;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid $acs;
  -webkit-transition: .5s;
  transition: .5s;
  display: inline-block;
  cursor: pointer;
  color: $wh;
  box-shadow: $shadow;
  margin-left: 65%;
  width: 35%;

  @include mq-tablet {
    margin-left: 70%;
    width: 30%;
    letter-spacing: 0.5rem;
  }
}

button:hover,
.button:hover {
  background: rgba(232, 52, 24, 0.8);
}

.dummy {
  display: none;
}

.myform {
  display: none;
}

.errorText {
  color: $acs;
}

.contact .thxMessage {
  display: none;

  p {
    font-size: 1.2rem;
  }
}

footer {
  position: relative;
  background-color: $bl;
  color: $wh;

  #topBtn {
    width: 80xp;
    height: 80px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
    background-color: $wh;
    border: 2px solid $wh;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);

    &:hover {
      cursor: pointer;
    }
  }

  .lower {
    padding: 10px 0;
  }
}

//work-page
.work-page{
  .wrapper{
    margin: 0 auto;
    max-width: 1080px;
  }
  h3{
    text-align: center;
    font-weight: 600;
    color: aquamarine;
  }
}


//banner page
.banner {

  .bn-decs .flex {
    margin-left: 1rem;
    align-items: center;
  }

  i::before {
    margin-left: 1rem;
    content: "\f08e ";
    color: #fff;
  }

  @media screen and (min-width: 768px) {
    .item {
      width: calc((100%/4) - 15px);
    }
  }
}

.bn-inner {
  padding: 10px;

  @include mq-tablet {
    padding: 60px;
  }
}

.bntop {
  padding: 150px 10px 0;
  line-height: 1.4;
  position: relative;

  &.flex {
    align-items: center;
    flex-direction: column;
  }

  img {
    width: 150px;
  }

}

.tag {
  .s300,
  .trace,
  .redesign,
  .original,
  .school {
    box-shadow: $shadow;
    padding: 10px;
    border-radius: 6px;

    &::before {
      color: $wh;
      font-size: 1.6rem;
      font-weight: 600;
    }
  }
  div:nth-of-type(2),div:nth-of-type(3){
    margin-left: 15px;
  }
}

.s300 {
  background: #28a838;
  &::before {
    content: "300x250";
  }
}

.trace {
  background: #fabd00;
  &::before {
    content: "Trace";
  }
}

.redesign {
  background: #dc097b;
  &::before {
    content: "redesign";
  }
}

.original {
  background: #0911dc;
  &::before {
    content: "original";
  }
}

.school {
  background: #3d3e30;
  &::before {
    content: "school";
  }
}

.portfolio-site {
  padding: 30px 10px;

  button {
    width: 100%;
    border-radius: 4px;

    @include mq-tablet {}

    p {
      color: $wh;
      font-weight: 600;
    }
  }

}

//thanks page
.thanks{
.thxmes {
  padding-top: 160px;
  line-height: 1.6;

  img {
    margin-top: 50px;
  }
}
}


.go-home a {
  text-decoration: underline;

  &:hover {
    color: $acs;
  }
}
